<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @topic.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @topic.description %>
</p>

<p>
  <strong>Publication year:</strong>
  <%= @topic.publication_year %>
</p>

<p>
  <strong>Published by:</strong>
  <%= @topic.published_by %>
</p>
<%#= link_to 'Show', topic_posts_path(@topic) %>
<%= link_to 'Edit', edit_topic_path(@topic) %> |
<%= link_to 'Back', topics_path %>   |
<%= link_to 'Post', topic_posts_path(@topic) %>
