<head>
  <%= stylesheet_link_tag 'posts' %>
</head>
<p id="notice"><%= notice %></p>

<% if @topic %>
  <h1>Posts for <%= @topic.name %> Topic</h1>
<% else %>
  <h1>All Posts</h1>
<% end %>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Content</th>
      <th>Date</th>
      <th>Tags</th>
      <th>Author(User)</th>
            <th>Ratings(Avg)</th>
        <th>No.of Comments</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
  <%if @topic %>
    <% @topic.posts.each do |post| %>
      <tr>
        <td><%= post.name %></td>
        <td><%= post.content %></td>
        <td><%= post.date %></td>

        <td><%= render post.tags %></td>
        <% if post.user.present? %>
          <td><%= post.user.email %></td>
        <%else %>
          <td>Unknown</td>
        <%end %>
        <% if @average_ratings[post.id].present? %>
            <% filled_stars = @average_ratings[post.id].round %>
              <td><div class="star-count">
    <% 5.times do |i| %>
      <% if i < filled_stars %>
        <span class="star filled">&#9733;</span>
      <% else %>
        <span class="star">&#9733;</span>
      <% end %>
                  <%end %>(<%= '%.1f' % @average_ratings[post.id] %> stars)</div></td>
        <% else %>
          <td>No ratings yet</td>
        <% end %>
          <% if @comment_count[post.id].present? %>
            <td><%= @comment_count[post.id] %> comments</td>
          <% else %>
            <td>No comments yet</td>
          <% end %>


        <td><%= link_to 'Show', topic_post_path(@topic,post) %></td>
        <%# if current_user == post.user %>
        <td><%= link_to 'Edit', edit_topic_post_path(@topic,post) %></td>
        <td><%= button_to 'Destroy', topic_post_path(@topic,post), method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <%#end %>


      </tr>
    <% end %>
    <%else %>
    <% @posts.each do |post| %>
      <tr>
        <td><%= post.name %> (<%= post.topic.name %>)</td>
        <td><%= post.content %></td>
        <td><%= post.date %></td>
        <td><%= render post.tags %></td>
        <% if post.user.present? %>
        <td><%= post.user.email %></td>
          <%else %>
          <td>Unknown</td>
          <%end %>
        <% if @average_ratings[post.id].present? %>
          <% filled_stars = @average_ratings[post.id].round %>
          <td><div class="star-count">
            <% 5.times do |i| %>
              <% if i < filled_stars %>
                <span class="star filled">&#9733;</span>
              <% else %>
                <span class="star">&#9733;</span>
              <% end %>
            <%end %>(<%= '%.1f' % @average_ratings[post.id] %> stars)</div></td>
        <% else %>
          <td>No ratings yet</td>
        <% end %>
        <% if @comment_count[post.id].present? %>
          <td><%= @comment_count[post.id] %> comments</td>
        <% else %>
          <td>No comments yet</td>
        <% end %>


      </tr>

    <% end %>

    <%end %>
  </tbody>
</table>

<br>

  <div class="d-flex justify-content-center">
    <%= will_paginate @posts %>
    <%#= paginate @posts %>
  </div>


<%if @topic %>
<%= link_to 'New Post', new_topic_post_path %> |
<%= link_to 'Back to Topic', topic_path(@topic) %>
<%else %>
  <%= link_to 'Back to home', root_path%>
<%end %>

