<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @post.name %>
</p>

<p>
  <strong>Content:</strong>
  <%= @post.content %>
</p>

<p>
  <strong>Date:</strong>
  <%= @post.date %>
</p>

<p><strong>Tags:</strong>
  <%# @post.tags.each do |tag| %>
    <%#= @post.tags do |t|%>
  <%=render @post.tags%>
  <%# end %>
    <%# Add a space or separator here if needed %>
  <%# end %>
</p>


<!--<%#= link_to 'Edit', edit_topic_post_path([@topic,@post]) %> |-->
<%= link_to 'Back', topic_posts_url(@topic) %>
