<!DOCTYPE html>
<html>
<head>
  <title>WorkingProject</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.2/css/bootstrap.min.css" rel="stylesheet">
  <%#= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  <%= javascript_include_tag 'rails-ujs' %>
  <%= javascript_include_tag 'jquery3' %>
</head>

<body>


<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<%= yield %>
<div class="container text-center mt-5">
  <% if user_signed_in?&& !(controller_name.eql?('posts') && action_name.eql?('new'))%>
    <p>Welcome, <%= current_user.email %>!</p>
    <%= link_to "Edit Profile", edit_user_registration_path, class: 'btn btn-primary profile-button' %>
    <%= button_to 'Sign out', destroy_user_session_path, method: :delete, class: 'btn btn-danger profile-button' %>

  <% elsif !(controller_name.eql?('posts') && action_name.eql?('new'))%>
    <%= link_to 'Log in', new_user_session_path, class: 'btn btn-primary' %>
    <%= link_to 'Sign up', new_user_registration_path, class: 'btn btn-success' %>
  <% end %>
</div>
</body>
</html>
